@{
    ViewData["Title"] = "Home Page";
}

    @*<div>
        <span></span>
    </div>
    <div>
        
        <form  asp-controller="Result" asp-action="Search">
            <div class="row cont">
                <div class="d-filters col-3">
                    <button type="button" class="btn btn-dark btn-sm b-filters"> FILTERS </button>
                    <br />
                    <input type="checkbox" name="google" />
                    <label for="google">Google</label>

                    <br />
                    <input type="checkbox" name="pinterest" />
                    <label for="pinterest">Pinterest</label>
                </div>
                <div class="s-form col-9">
                    <input class="s-input" type="text" name="phrase" required>

                    <button type="submit" class="fa fa-search"></button>
                </div>
            </div>
        </form>
    </div>*@

    <div>
        <form asp-controller="Result" asp-action="Search">
            <div class="container d-flex justify-content-center align-items-center" >
                <div class="b-search">
                    <div class="row">
                        <div class="col-8 p-0 pl-3">
                            <input class="s-in" type="text" name="phrase" placeholder=" Search..." pattern="[a-zA-Z0-9]+[a-zA-Z0-9]+" required />
                        </div>
                        <div class="col-1 p-0 ">
                            <button class="s-btn b-filters" type="button"><i class="fas fa-arrow-down rotate"></i></button>
                        </div>
                        <div class="col-3 p-0 pr-3">
                            <button class="s-btn" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                        <div class="row pt-1 s-filters s-filters-h">
                            <div class="col-3 offset-1">
                                <input type="radio" name="engine" value="google" checked />
                                <label for="google">Google</label>
                            </div>
                            <div class="col-3">
                                <input type="radio" name="engine" value="pinterest" />
                                <label for="pinterest">Pinterest</label>
                            </div>
                        </div>
                    </div>
            </div>
        </form>
    </div>

@section Links {
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="~/css/search.css" rel="stylesheet" />
}
