
@{
    ViewData["Title"] = "Rau";
}
@section Links {
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
}
<div class="container d-flex justify-content-center align-items-center">
    <img src="~/images/rau.gif" />
</div>

