@model Tuple<List<Photo>, int>
@{
    ViewData["Title"] = "Search";
    var temp = @Model;
}

<h1>Search</h1>
<div>
    @if(ViewBag.Clicked == false)
    {
    <form method="post" asp-controller="Result" asp-action="CheckN" asp-route-searchId="@Model.Item2">
        <button class="btn btn-sm btn-dark" type="submit">Use Accuracy Filter</button>
    </form>
    }
    else
    {
        if(ViewBag.Checked == true)
        {
            <p>Results have been filtered.</p>
        }
        else
        {
            <p>The Accuracy Filter for this phrase is not implemented yet.</p>
        }
    }
</div>
<div class="card-columns">
    @foreach (var photo in Model.Item1)
    {
        <div class="card">
            <a asp-controller="Result" asp-action="Result" asp-route-id="@photo.ID" asp-route-search="@Model.Item2">
                <img src="@photo.Url" class="card-img" alt="...">
            </a>
        </div>
    }
</div>