@model List<IdentityUser>

<div class="container-fluid">
    <div class="col-12 border p-1">
        <table class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>PwHash</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Email</td>
                    <td>@user.PasswordHash</td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</div>

